<style type="text/css">
<!--

.temp{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:20;
	color:#4B4949;
}

.body{
	font-family:arial, verdana;
	font-size:12px; 
	font-weight:normal;
	padding:0;
	color:#000000;
}

.bodysmall{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:0;
	color:#000000;
}

.whitebody{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:5;
	color:#FFFFFF;
}

.brownbody{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:0;
	color:#8d8770;
}

.red{
	font-family:arial, verdana;
	font-size:12px; 
	font-weight:normal;
	padding:0;
	color:#ff5200;
}

.redsmall{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:0;
	color:#ff5200;
}


A {
	TEXT-DECORATION: none
}

A:hover {
	TEXT-DECORATION: underline
}
.sslText{
	font-family:arial, verdana;
	font-size:11px; 
	font-weight:normal;
	padding:0;
	color:black;
}
//-->
</style>