BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	COLOR: #555; 
	FONT-SIZE: 11px
}
* {
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-TOP-STYLE: none; 
	BORDER-LEFT-STYLE: none
}
.wrapper {
	MARGIN: 0px auto; 
	WIDTH: 811px; 
	BACKGROUND: url(../images/bg_wrapper.gif) repeat-y left top
}
.header {
	MARGIN: 0px auto; 
	WIDTH: 804px; 
	BACKGROUND: url(../images/bg_header.gif) repeat-x left bottom; 
	HEIGHT: 53px; 
	PADDING-TOP: 15px
}
.headerLogo {
	BORDER-BOTTOM-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	DISPLAY: block; 
	BORDER-TOP-STYLE: none; 
	MARGIN-LEFT: 50px; 
	BORDER-LEFT-STYLE: none
}
.footer {
	MARGIN: 0px auto; 
	WIDTH: 804px; 
	BACKGROUND: url(../images/bg_header.gif) repeat-x left top; 
	HEIGHT: 50px; 
	COLOR: #fff; 
	FONT-SIZE: 9px
}
.footer A:link {
	COLOR: #fff; 
	TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #efefef
}
.footer A:visited {
	COLOR: #efefef
}
.footer IMG {
	BORDER-BOTTOM-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-TOP-STYLE: none; 
	BORDER-LEFT-STYLE: none
}
.FootLogo {
	WIDTH: 200px; 
	FLOAT: left
}
.FootLogoCont {
	MARGIN: 8px 0px 0px 50px; 
	FLOAT: left
}
.FootCopy {
	WIDTH: auto; 
	FLOAT: left
}
.FootCopyCont {
	TEXT-TRANSFORM: uppercase; 
	MARGIN-TOP: 12px; 
	DISPLAY: block; 
	CLEAR: both
}
.inner {
	PADDING-BOTTOM: 10px; 
	MARGIN: 0px auto; 
	PADDING-LEFT: 10px; 
	WIDTH: 400px; 
	PADDING-RIGHT: 10px; 
	PADDING-TOP: 10px
}
H1 {
	COLOR: #555; 
	FONT-SIZE: 17px; 
	FONT-WEIGHT: bold
}
H3 {
	MARGIN-TOP: 15px; 
	DISPLAY: block; 
	COLOR: #555; 
	FONT-SIZE: 13px; 
	FONT-WEIGHT: bold
}
LABEL.due {
	COLOR: #990000
}
.clear {
	CLEAR: both
}
INPUT {
	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px; 
	COLOR: #666666; 
	PADDING-TOP: 3px
}
TEXTAREA {
	PADDING-BOTTOM: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px; 
	COLOR: #666666; 
	PADDING-TOP: 3px
}
LABEL {
	FONT-WEIGHT: bold
}
SPAN.note {
	FONT-SIZE: 10px; 
	FONT-WEIGHT: normal;
 }
UL.form {
	LIST-STYLE-TYPE: none
}
UL.form LI {
	PADDING-BOTTOM: 1px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 8px; 
	PADDING-TOP: 1px
}
UL.form LI LABEL {
	TEXT-ALIGN: left; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-TOP: 5px
}
UL.form LI .textBox {
	BORDER-BOTTOM: #cccccc 2px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	WIDTH: 280px; 
	HEIGHT: 20px; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-RIGHT: #cccccc 1px solid
}
UL.form LI .bigTextBox {
	BORDER-BOTTOM: #cccccc 2px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	WIDTH: 320px; 
	HEIGHT: 20px; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-RIGHT: #cccccc 1px solid
}
.textboxError {
	BORDER-BOTTOM: #cd3939 2px solid; 
	BORDER-LEFT: #cd3939 2px solid;
	 BORDER-TOP: #cd3939 2px solid; 
	 BORDER-RIGHT: #cd3939 2px solid
}
.noteBelowfield {
	MARGIN-TOP: -7px; 
	DISPLAY: block; 
	COLOR: #999; 
	MARGIN-LEFT: 175px
}
UL.form LI .selectError {
	BACKGROUND: #ff9999
}
.div-payment {
	PADDING-BOTTOM: 5px; 
	MARGIN: 0px 0px 10px; 
	PADDING-LEFT: 10px;
	 WIDTH: 310px; 
	 PADDING-RIGHT: 5px; 
	 BACKGROUND: #f4f4f4;
	  PADDING-TOP: 5px
}
.div-payment LI .textBox {
	BORDER-BOTTOM: #cccccc 2px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	WIDTH: 280px; 
	HEIGHT: 22px; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-RIGHT: #cccccc 1px solid
}

.div-payment TABLE {
	WIDTH: 100%
}
.div-payment TABLE TD {
	PADDING-BOTTOM: 4px; 
	PADDING-LEFT: 4px; 
	PADDING-RIGHT: 4px; 
	PADDING-TOP: 4px
}

UL.formHalf LI {
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 2px; 
	PADDING-TOP: 0px
}
UL.formHalf LI LABEL {
	TEXT-ALIGN: left; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-TOP: 10px
}

.div-popupcvv {
	BORDER-BOTTOM: #ddd 2px solid; 
	POSITION: absolute; 
	TEXT-ALIGN: left; 
	BORDER-LEFT: #ddd 2px solid; 
	PADDING-BOTTOM: 4px; 
	PADDING-LEFT: 4px; 
	WIDTH: 200px; 
	PADDING-RIGHT: 4px; 
	BACKGROUND: #efefef; 
	HEIGHT: auto; 
	BORDER-TOP: #ddd 2px solid; 
	TOP: 40%; 
	BORDER-RIGHT: #ddd 2px solid; 
	PADDING-TOP: 4px; 
	LEFT: 40%
}
.div-popupcvv A:link {
	COLOR: #b9391e
}

.second {
  	padding-right: 5px;
	float: left;
}
.div-popupcvv A:visited {
	COLOR: #b9391e
}
.span-close {
	TEXT-ALIGN: right; 
	PADDING-BOTTOM: 0px;
	 PADDING-LEFT: 0px; 
	 PADDING-RIGHT: 5px; 
	 DISPLAY: block; 
	 PADDING-TOP: 1px
}
.span-close A {
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none
}
.help {
	BORDER-BOTTOM-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    MARGIN: 0px 0px -5px -5px;
    BORDER-TOP-STYLE: none; 
    BORDER-LEFT-STYLE: none
}
.errorForm {
	BORDER-BOTTOM: #f46565 1px solid; 
	BORDER-LEFT: #f46565 1px solid; 
	PADDING-BOTTOM: 5px; 
	BACKGROUND-COLOR: #fff; 
	PADDING-LEFT: 5px; 
	PADDING-RIGHT: 5px; 
	MARGIN-BOTTOM: 12px; 
	COLOR: #f46565; 
	CLEAR: both; 
	BORDER-TOP: #f46565 1px solid; 
	FONT-WEIGHT: bold; 
	BORDER-RIGHT: #f46565 1px solid; 
	PADDING-TOP: 5px
}
.btn_action {
	BORDER-BOTTOM: medium none; 
	TEXT-ALIGN: center; 
	BORDER-LEFT: medium none; 
	MARGIN: 5px 5px 0px 0px; 
	PADDING-LEFT: 15px; 
	WIDTH: 105px; 
	DISPLAY: block; 
	BACKGROUND: url(../images/btn_orange.gif) no-repeat left top; 
	FLOAT: left; 
	HEIGHT: 28px; 
	COLOR: #fff; 
	BORDER-TOP: medium none; 
	CURSOR: pointer; 
	FONT-WEIGHT: bold; 
	BORDER-RIGHT: medium none
}
.btn_action:hover {
	COLOR: #efefef; 
	TEXT-DECORATION: none
}
.btn_normal {
	BORDER-BOTTOM: medium none; 
	TEXT-ALIGN: center; 
	BORDER-LEFT: medium none; 
	MARGIN: 5px 5px 0px 0px; 
	PADDING-LEFT: 15px; 
	WIDTH: 105px; 
	DISPLAY: block; 
	BACKGROUND: url(../images/btn_gray.gif) no-repeat left top;
    FLOAT: left; 
    HEIGHT: 28px; 
    COLOR: #fff; 
    BORDER-TOP: medium none; 
    CURSOR: pointer; 
    FONT-WEIGHT: bold; 
    BORDER-RIGHT: medium none
}
.btn_normal:hover {
	COLOR: #efefef; 
	TEXT-DECORATION: none
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}

.logoEntrust {
	MARGIN-TOP: 0px;
	FLOAT: right; 
	MARGIN-RIGHT: 50px
}
.visaMore {
	MARGIN-TOP: -20px; 
	DISPLAY: block; 
	MARGIN-LEFT: 250px
}
.visaHeader {
	MARGIN-TOP: -40px; 
	FLOAT: right; 
	MARGIN-RIGHT: 20px
}
.type2d {
	TEXT-ALIGN: center; 
	BORDER-RIGHT-WIDTH: 0px; 
	BACKGROUND-COLOR: #def0db; 
	WIDTH: 65px; FONT-FAMILY: arial; 
	MARGIN-BOTTOM: 1px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	HEIGHT: 16px; 
	COLOR: #9d9da1; 
	FONT-SIZE: 10px; 
	BORDER-LEFT-WIDTH: 0px
}
.type3d {
	TEXT-ALIGN: center; 
	BORDER-RIGHT-WIDTH: 0px; 
	BACKGROUND-COLOR: #def0db; 
	WIDTH: 45px; 
	FONT-FAMILY: arial; 
	MARGIN-BOTTOM: 1px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	HEIGHT: 16px; 
	COLOR: #9d9da1; 
	FONT-SIZE: 10px; 
	BORDER-LEFT-WIDTH: 0px
}
.type1d {
	TEXT-ALIGN: center; 
	BORDER-RIGHT-WIDTH: 0px; 
	BACKGROUND-COLOR: #def0db; 
	WIDTH: 20px; 
	FONT-FAMILY: arial; 
	MARGIN-BOTTOM: 1px; 
	BORDER-TOP-WIDTH: 0px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	HEIGHT: 16px; 
	COLOR: #9d9da1; 
	FONT-SIZE: 10px; 
	BORDER-LEFT-WIDTH: 0px
}

UL.formHalf {
	LIST-STYLE-TYPE: none; 
	WIDTH: 45%; 
	FLOAT: left; 
}
UL.formHalf LI .textBoxS {
	BORDER-BOTTOM: #cccccc 2px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	WIDTH:50px; 
	HEIGHT: 14px; 
	BORDER-TOP: #cccccc 1px solid; 
	MARGIN-RIGHT: 5px; 
	BORDER-RIGHT: #cccccc 1px solid
}
 
 .div-payment LI .textBoxcard {
	 BORDER-BOTTOM: #cccccc 2px solid; 
	 BORDER-LEFT: #cccccc 1px solid; 
	 WIDTH: 48px; 
	 HEIGHT: 20px; 
	 BORDER-TOP: #cccccc 1px solid; 
	 BORDER-RIGHT: #cccccc 1px solid;
	 margin-right:3px;
}
.msgg li:first-child {
    list-style: none;
}