<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DataSource Configuration (HikariCP) -->
    <bean id="timeZoneSetter" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="java.util.TimeZone" />
        <property name="targetMethod" value="setDefault" />
        <property name="arguments">
            <list>
                <bean class="java.util.TimeZone" factory-method="getTimeZone">
                    <constructor-arg value="Asia/Kolkata" />
                </bean>
            </list>
        </property>
    </bean>

    <!-- DataSource Configuration (HikariCP) -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" scope="singleton" depends-on="timeZoneSetter">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5433/AgencyLicensingPortal?currentSchema=dbo" />
        <property name="username" value="postgres" />
        <property name="password" value="sa123" />
    </bean>


    <!-- Health Check Beans -->
    <bean id="healthAction" class="com.nseit.health.action.HealthAction" scope="prototype">
        <property name="healthService" ref="healthService" />
    </bean>

    <bean id="healthService" class="com.nseit.health.service.impl.HealthServiceImpl">
        <property name="healthDao" ref="healthDao" />
    </bean>

    <bean id="healthDao" class="com.nseit.health.dao.impl.HealthDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>
